@import '../../../vars';

.c-checkbox {
	display: none;

	&:checked + .c-formContainer {
		.c-form {
			width: 100%;
		}

		.c-form__toggle {
			visibility: hidden;
			opacity: 0;
			transform: scale(0.7);
		}

		.c-form__input,
		.c-form__buttonLabel {
			transition: 0.2s 0.1s;
			visibility: visible;
			opacity: 1;
			transform: scale(1);
		}
	}

	&:not(:checked),
	&:checked {
		+ .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
			content: 'Thank You! \1F60A';
		}
	}

	&:not(:checked) + .c-formContainer {
		.c-form__input:required:valid ~ .c-form__toggle {
			pointer-events: none;
			cursor: default;
		}
	}
}

.c-formContainer,
.c-form,
.c-form__toggle {
	width: 100%;
	height: 3.25em;
}

.c-formContainer {
	position: relative;
	font-weight: 700;
}

.c-form,
.c-form__toggle {
	position: absolute;
	border-radius: 6.25em;
	background-color: $background-secondary;
	transition: 0.2s;
}

.c-form {
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
}

.c-form__toggle {
	color: $text-accent;
	top: 0;
	cursor: pointer;
	z-index: 1;

	// position message
	display: flex;
	align-items: center;
	justify-content: center;

	&::before {
		font-size: 1.75em;
		content: attr(data-title);
	}
}

.c-form__input,
.c-form__button {
	font: inherit;
	border: 0;
	outline: 0;
	border-radius: 5em;
}

.c-form__input,
.c-form__buttonLabel {
	font-size: 1.75em;
	opacity: 0;
	visibility: hidden;
	transform: scale(0.7);
	transition: 0s;
}

.c-form__input {
	color: $text-color;
	background-color: $background-secondary;
	height: 100%;
	width: 100%;
	padding: 0 0 0 .4em;

	&::placeholder {
		color: currentColor;
	}

	&:required:valid {
		color: $text-accent;

		+ .c-form__buttonLabel {
			display: block;

			&::before {
				pointer-events: initial;
			}
		}
	}
}

.c-form__buttonLabel {
	display: none;
	color: $background-primary;
	height: 100%;
	width: auto;

	// accepts click events
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		cursor: pointer;
	}
}

.c-form__button {
	color: inherit;
	padding: 0;
	height: 100%;
	width: 3em;
	background-color: $text-accent;
}
