<input class="c-checkbox" type="checkbox" id="checkbox" [formControl]="checkedControl">
<div class="c-formContainer">
	<form class="c-form" action="">
		<input class="c-form__input" placeholder="Type your city" required [formControl]="inputControl">
		<label class="c-form__buttonLabel">
			<button class="c-form__button" type="button" (click)="added()">Add</button>
		</label>
		<label class="c-form__toggle -{{(findCity$ | async) ? 'success' : 'not-found'}}" for="checkbox" data-title="Find a city"></label>
	</form>
</div>
