@import '../../../vars';

.switch-button {
	background: $background-secondary;
	border-radius: 30px;
	overflow: hidden;
	width: 100px;
	text-align: center;
	font-size: 16px;
	color: $text-accent;
	position: relative;
	padding-right: 80px;


	&:before {
		content: "Daily";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;
		pointer-events: none;
	}

	&-checkbox {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 2;

		&:checked + .switch-button-label:before {
			transform: translateX(80px);
			transition: transform 300ms linear;
		}

		& + .switch-button-label {
			position: relative;
			padding: 8px 0;
			display: block;
			user-select: none;
			pointer-events: none;

			&:before {
				content: "";
				background: $text-disabled;
				height: 100%;
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				border-radius: 30px;
				transform: translateX(0);
				transition: transform 300ms;
			}

			.switch-button-label-span {
				position: relative;
			}
		}
	}
}
