<div class="header">
	<div class="search-box-container">
		<app-input placeholder="Type your city" [formControl]="searchControl"></app-input>
		<app-button (click)="addCity()">Add</app-button>
	</div>
	<div *ngIf="errorMessage$ | async as errorMessage" class="error-message"> {{errorMessage}} </div>
	<app-toggle-button class="header-toggle" [formControl]="hourlyControl">
		<ng-container leftLabel>Hourly</ng-container>
		<ng-container rightLabel>Daily</ng-container>
	</app-toggle-button>

	<div class="table">
		<ng-container *ngIf="hourlyControl.value; else dailyTable">
<!--			<app-hourly-table *ngIf=""></app-hourly-table>-->
		</ng-container>

		<ng-template #dailyTable>
			<app-daily-table *ngIf="dailyTableRows$ | async as dailyTableRows; else tableIsEmpty" [tableRows]="dailyTableRows"></app-daily-table>
		</ng-template>

		<ng-template #tableIsEmpty>Table is empty</ng-template>
	</div>
</div>
