.header {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 25px 0;
}

.header-toggle {
	margin-top: 16px;
}

.but {
	height: 60px;
}

.search-box-container {
	display: flex;
}

