@import '../../../vars';

.row {
	th,td {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 50px;
		height: 50px;
		align-items: center;
	}

	th:first-child,td:first-child {
		width: 100px;
		white-space: nowrap;
		text-align: left;
	}
}

.table {
	border: 1px solid $background-secondary;
	border-radius: 5px;
}
